
.icon-add:before { content: '\e800'; } /* '' */
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-arrow-left:before { content: '\e802'; } /* '' */
.icon-arrow-up:before { content: '\e803'; } /* '' */
.icon-arrow-right:before { content: '\e804'; } /* '' */
.icon-bp-confirm-m:before { content: '\e805'; } /* '' */
.icon-bp-info-m:before { content: '\e806'; } /* '' */
.icon-calendar-a:before { content: '\e807'; } /* '' */
.icon-calendar-n:before { content: '\e808'; } /* '' */
.icon-calendar-w:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-check-mark:before { content: '\e80b'; } /* '' */
.icon-classpacks:before { content: '\e80c'; } /* '' */
.icon-closed-dates:before { content: '\e80d'; } /* '' */
.icon-cloud-download:before { content: '\e80e'; } /* '' */
.icon-course-ss:before { content: '\e80f'; } /* '' */
.icon-customers:before { content: '\e810'; } /* '' */
.icon-delete:before { content: '\e811'; } /* '' */
.icon-download:before { content: '\e812'; } /* '' */
.icon-duration:before { content: '\e813'; } /* '' */
.icon-edit-button:before { content: '\e814'; } /* '' */
.icon-edit:before { content: '\e815'; } /* '' */
.icon-email:before { content: '\e816'; } /* '' */
.icon-equipment-ss:before { content: '\e817'; } /* '' */
.icon-events-ss:before { content: '\e818'; } /* '' */
.icon-exchange:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81a'; } /* '' */
.icon-google-plus:before { content: '\e81b'; } /* '' */
.icon-help:before { content: '\e81c'; } /* '' */
.icon-icloud-solid:before { content: '\e81d'; } /* '' */
.icon-icloud:before { content: '\e81e'; } /* '' */
.icon-instagram:before { content: '\e81f'; } /* '' */
.icon-integrations:before { content: '\e820'; } /* '' */
.icon-link:before { content: '\e821'; } /* '' */
.icon-linkedin:before { content: '\e822'; } /* '' */
.icon-location-m:before { content: '\e823'; } /* '' */
.icon-locations:before { content: '\e824'; } /* '' */
.icon-membership-ss:before { content: '\e825'; } /* '' */
.icon-migrate:before { content: '\e826'; } /* '' */
.icon-navigation:before { content: '\e827'; } /* '' */
.icon-notification-original:before { content: '\e828'; } /* '' */
.icon-notification:before { content: '\e829'; } /* '' */
.icon-online-booking:before { content: '\e82a'; } /* '' */
.icon-online-booking-link:before { content: '\e82b'; } /* '' */
.icon-online-booking-1:before { content: '\e82c'; } /* '' */
.icon-outlook:before { content: '\e82d'; } /* '' */
.icon-overview:before { content: '\e82e'; } /* '' */
.icon-pinterest:before { content: '\e82f'; } /* '' */
.icon-print:before { content: '\e830'; } /* '' */
.icon-private:before { content: '\e831'; } /* '' */
.icon-rating:before { content: '\e832'; } /* '' */
.icon-recurring:before { content: '\e833'; } /* '' */
.icon-refresh:before { content: '\e834'; } /* '' */
.icon-reorder-option:before { content: '\e835'; } /* '' */
.icon-report:before { content: '\e836'; } /* '' */
.icon-resources-ss:before { content: '\e837'; } /* '' */
.icon-sales:before { content: '\e838'; } /* '' */
.icon-service-a:before { content: '\e839'; } /* '' */
.icon-service-setup:before { content: '\e83a'; } /* '' */
.icon-service:before { content: '\e83b'; } /* '' */
.icon-session-1:before { content: '\e83c'; } /* '' */
.icon-session:before { content: '\e83d'; } /* '' */
.icon-settings-a:before { content: '\e83e'; } /* '' */
.icon-settings:before { content: '\e83f'; } /* '' */
.icon-staff:before { content: '\e840'; } /* '' */
.icon-team:before { content: '\e841'; } /* '' */
.icon-time:before { content: '\e842'; } /* '' */
.icon-twitter:before { content: '\e843'; } /* '' */
.icon-view:before { content: '\e844'; } /* '' */
.icon-staff-name:before { content: '\e845'; } /* '' */
.icon-website:before { content: '\e846'; } /* '' */
.icon-web-facebook:before { content: '\e847'; } /* '' */
.icon-youtube:before { content: '\e848'; } /* '' */
.icon-requested:before { content: '\e849'; } /* '' */