@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?7315434');
	src: url('../font/fontello.eot?7315434#iefix') format('embedded-opentype'),
		url('../font/fontello.woff2?7315434') format('woff2'),
		url('../font/fontello.woff?7315434') format('woff'),
		url('../font/fontello.ttf?7315434') format('truetype'),
		url('../font/fontello.svg?7315434#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7315434#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-add:before {
	content: '\e800';
}

/* '' */
.icon-arrow-down:before {
	content: '\e801';
}

/* '' */
.icon-arrow-left:before {
	content: '\e802';
}

/* '' */
.icon-arrow-right:before {
	content: '\e803';
}

/* '' */
.icon-arrow-up:before {
	content: '\e804';
}

/* '' */
.icon-bp-confirm-m:before {
	content: '\e805';
}

/* '' */
.icon-bp-info-m:before {
	content: '\e806';
}

/* '' */
.icon-calendar-a:before {
	content: '\e807';
}

/* '' */
.icon-calendar-n:before {
	content: '\e808';
}

/* '' */
.icon-calendar-w:before {
	content: '\e809';
}

/* '' */
.icon-cancel:before {
	content: '\e80a';
}

/* '' */
.icon-check-mark:before {
	content: '\e80b';
}

/* '' */
.icon-classpacks:before {
	content: '\e80c';
}

/* '' */
.icon-closed-dates:before {
	content: '\e80d';
}

/* '' */
.icon-cloud-download:before {
	content: '\e80e';
}

/* '' */
.icon-course-ss:before {
	content: '\e80f';
}

/* '' */
.icon-customers:before {
	content: '\e810';
}

/* '' */
.icon-delete:before {
	content: '\e811';
}

/* '' */
.icon-download:before {
	content: '\e812';
}

/* '' */
.icon-duration:before {
	content: '\e813';
}

/* '' */
.icon-edit-button:before {
	content: '\e814';
}

/* '' */
.icon-edit:before {
	content: '\e815';
}

/* '' */
.icon-email:before {
	content: '\e816';
}

/* '' */
.icon-equipment-ss:before {
	content: '\e817';
}

/* '' */
.icon-events-ss:before {
	content: '\e818';
}

/* '' */
.icon-exchange:before {
	content: '\e819';
}

/* '' */
.icon-facebook:before {
	content: '\e81a';
}

/* '' */
.icon-google-plus:before {
	content: '\e81b';
}

/* '' */
.icon-help:before {
	content: '\e81c';
}

/* '' */
.icon-icloud-solid:before {
	content: '\e81d';
}

/* '' */
.icon-icloud:before {
	content: '\e81e';
}

/* '' */
.icon-instagram:before {
	content: '\e81f';
}

/* '' */
.icon-integrations:before {
	content: '\e820';
}

/* '' */
.icon-link:before {
	content: '\e821';
}

/* '' */
.icon-linkedin:before {
	content: '\e822';
}

/* '' */
.icon-location-m:before {
	content: '\e823';
}

/* '' */
.icon-locations:before {
	content: '\e824';
}

/* '' */
.icon-membership-ss:before {
	content: '\e825';
}

/* '' */
.icon-migrate:before {
	content: '\e826';
}

/* '' */
.icon-navigation:before {
	content: '\e827';
}

/* '' */
.icon-notification-original:before {
	content: '\e828';
}

/* '' */
.icon-notification:before {
	content: '\e829';
}

/* '' */
.icon-online-booking:before {
	content: '\e82a';
}

/* '' */
.icon-online-booking-link:before {
	content: '\e82b';
}

/* '' */
.icon-online-booking-1:before {
	content: '\e82c';
}

/* '' */
.icon-outlook:before {
	content: '\e82d';
}

/* '' */
.icon-overview:before {
	content: '\e82e';
}

/* '' */
.icon-pinterest:before {
	content: '\e82f';
}

/* '' */
.icon-print:before {
	content: '\e830';
}

/* '' */
.icon-private:before {
	content: '\e831';
}

/* '' */
.icon-quote-left:before {
	content: '\e832';
}

/* '' */
.icon-quote-right:before {
	content: '\e833';
}

/* '' */
.icon-rating:before {
	content: '\e834';
}

/* '' */
.icon-recurring:before {
	content: '\e835';
}

/* '' */
.icon-refresh:before {
	content: '\e836';
}

/* '' */
.icon-reorder-option:before {
	content: '\e837';
}

/* '' */
.icon-report:before {
	content: '\e838';
}

/* '' */
.icon-requested:before {
	content: '\e839';
}

/* '' */
.icon-resources-ss:before {
	content: '\e83a';
}

/* '' */
.icon-sales:before {
	content: '\e83b';
}

/* '' */
.icon-service-a:before {
	content: '\e83c';
}

/* '' */
.icon-service-setup:before {
	content: '\e83d';
}

/* '' */
.icon-service:before {
	content: '\e83e';
}

/* '' */
.icon-session-1:before {
	content: '\e83f';
}

/* '' */
.icon-session:before {
	content: '\e840';
}

/* '' */
.icon-settings-a:before {
	content: '\e841';
}

/* '' */
.icon-settings:before {
	content: '\e842';
}

/* '' */
.icon-staff-name:before {
	content: '\e843';
}

/* '' */
.icon-staff:before {
	content: '\e844';
}

/* '' */
.icon-team:before {
	content: '\e845';
}

/* '' */
.icon-time:before {
	content: '\e846';
}

/* '' */
.icon-twitter:before {
	content: '\e847';
}

/* '' */
.icon-view:before {
	content: '\e848';
}

/* '' */
.icon-web-advertising:before {
	content: '\e849';
}

/* '' */
.icon-web-analytics:before {
	content: '\e84a';
}

/* '' */
.icon-web-arrow-left:before {
	content: '\e84b';
}

/* '' */
.icon-web-arrow-right:before {
	content: '\e84c';
}

/* '' */
.icon-web-credit-card:before {
	content: '\e84d';
}

/* '' */
.icon-web-document:before {
	content: '\e84e';
}

/* '' */
.icon-web-facebook:before {
	content: '\e84f';
}

/* '' */
.icon-web-mail:before {
	content: '\e850';
}

/* '' */
.icon-web-speech-bubble:before {
	content: '\e851';
}

/* '' */
.icon-web-user:before {
	content: '\e852';
}

/* '' */
.icon-web-youtube:before {
	content: '\e853';
}

/* '' */
.icon-website:before {
	content: '\e854';
}

/* '' */